# SQL II: Grouping and Joining

_June 29, 2020_

Agenda:
- Practice with Grouping in SQLite
- Practice with different types of Joins in SQLite

<img src = "https://media.giphy.com/media/3oKIPnAiaMCws8nOsE/giphy.gif">

In [1]:
import sqlite3
import pandas as pd
import seaborn as sns
import numpy as np

## Part I. Grouping
Just like pandas, Sql support different types of grouping statements for performing aggregate functions and allow us to calculate various statistics for data.

Syntax:
`SELECT * FROM tables GROUP BY column`

In [2]:
# instantiate some data
np.random.seed(1000)
auto = pd.read_csv('auto-mpg.csv')
tips = sns.load_dataset('tips')
small_quiz = pd.DataFrame({"students":["Eric R","Dolci","Jagandeep"],
                          "projects":[1,2,1],
                          "grades":np.random.randint(80,100,3)})
small_grades = pd.DataFrame({"students":["Eric A","Eric R","Eryk W"],
                            "quiz_score":np.random.randint(0,10,3)})

In [ ]:
conn = sqlite3.connect('lecture_code.db')
c = conn.cursor()

In [ ]:
# insert these datasets into our db
#auto.to_sql('auto', con=conn)
tips.to_sql('tips', con=conn)
small_grades.to_sql('small_grade', con=conn)
small_quiz.to_sql('small_quiz',con=conn)

In [ ]:
#get a list of all tables
query = """"""
c.execute(query)
c.fetchall()

#### TIPS dataset

In [ ]:
# for the tips df/table, use PANDAS to get a count of a total of men and women

In [ ]:
# translate this to sql 
query = """"""
c.execute(query).fetchall()

In [ ]:
# using PANDAS, select the average amount tipped for time(lunch and dinner)

In [ ]:
# use sql to recreate this query
query = """"""
c.execute(query).fetchall()

We can also use `GROUP BY` with certain conditions, in conjunction with filtering and ordering.

In [ ]:
# use pandas, get the average total bills for a party larger than 2 for every size of party

In [ ]:
# use sql to recreate this query hint: use having or where
query = """"""
c.execute(query).fetchall()

In [ ]:
# exercise 1 - use pandas, get the maximum value of total bill for female non smoker

In [ ]:
# use sql to recreate this query
query = """"""
c.execute(query).fetchall()

In [ ]:
# exercise 2 - use PANDAS, the average amount of tips and tota bill for different day of the weak and sort by descending
# value of tip amount

In [ ]:
# translate this to sql
query = """"""
c.execute(query).fetchall()

## Part II. Join

Based on this diagram, how would you explain the different types of joins?

<img src = 'sql-joins.png' width = 400>

In [3]:
print(small_grades)
print(small_quiz)

  students  quiz_score
0   Eric A           1
1   Eric R           0
2   Eryk W           9
    students  projects  grades
0     Eric R         1      99
1      Dolci         2      87
2  Jagandeep         1      80

In [ ]:
# left join - join small quiz with small grades, on student name
small_grades.merge(small_quiz, on = 'students', how = "left")

# if i run this command, what would happen? how many observations/record?

Syntax:


`SELECT * FROM left table JOIN right table ON left_table.key = right_table.key`

In [ ]:
# sql 
query = """SELECT * FROM small_grade LEFT JOIN small_quiz ON small_grade.students = small_quiz.students"""
c.execute(query).fetchall()

In [ ]:
# investigate why we have more columns than pd results

In [ ]:
# inner join and get the student's grades
small_grades.merge(small_quiz, on = 'students', how = 'inner')

In [ ]:
# SQL

query = """"""
c.execute(query).fetchall()

### Level up 
1. Subqueries (including anti-joins)
2. Get median (using OFFSET)

In [ ]:
# anti-join :get all the entries that are in the left table but not in the right table 
query = """SELECT left_table.id FROM `left table` WHERE left_table.id not in (SELECT id FROM right_table) """

In [ ]:
# get median - use offset 
query = """SELECT col FROM table ORDER BY col LIMIT 1 OFFSET (SELECT COUNT(*) FROM MyTable) / 2"""