In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
import time
import os
import glob
import re

In [4]:
actuals = pd.read_csv('kc_house_data_test_target.csv',index_col=0  )

In [5]:
actuals.head()

           id     price
0  1974300020  380000.0
1  1974300020  624900.0
2  3630020380  379770.0
3  1771000290  340000.0
4  5126310470  515500.0

In [6]:
actuals.shape

(4323, 2)

In [32]:
path = '/Users/swilson5/Documents/DSC/ds-051120/nyc-mhtn-ds-051120-lectures/Mod_2/KC_house_data/answers'
extension = 'csv'

In [33]:

# create a list of all file names
# starting with testlabels_ from the file


# ‎⁨Macintosh HD⁩ ▸ ⁨Users⁩ ▸ ⁨swilson5⁩ ▸ ⁨Documents⁩ ▸ ⁨DSC⁩ ▸ ⁨ds-033020⁩ ▸ ⁨nyc-ds-033020-lectures⁩ ▸ ⁨Mod_2⁩ ▸ ⁨KC_house_data⁩
os.chdir(path)
files = glob.glob('*.{}'.format(extension))
print(files)

['housing_preds_MLJB.csv', 'housing_preds_CUDM.csv', 'housing_preds_ZCJP.csv', 'housing_preds_ABTH.csv', 'housing_preds_DCJV.csv', 'housing_preds_MKKE.csv', 'housing_preds_DRKH.csv', 'housing_preds_BRAD.csv', 'housing_preds_JJ.csv', 'housing_preds_LCJDK .csv', 'housing_preds_MLJB-2.csv']

In [34]:
#create dictionary to store results
results = {}

In [35]:
for file in files:
    name = file.split("_")[-1].split(".")[0]
    print(name)
    guesses = pd.read_csv(file, header=None, index_col=0 )
 

    # guesses.sort_index(inplace=True)

    if guesses.shape[0] != 4323:
        print(name, "not the correct size", guesses.shape[0]  )
        continue
    mae = metrics.mean_absolute_error(actuals['price'],guesses)
    mse = metrics.mean_squared_error(actuals['price'],guesses)
    rmse = np.sqrt(mse)
    results[name]= [mae, rmse]

MLJB
MLJB not the correct size 4320
CUDM
ZCJP
ABTH
DCJV
MKKE
DRKH
BRAD
JJ
LCJDK
MLJB-2

In [36]:

sorted_results = sorted(results.items(), key=lambda x: x[1][0], reverse=True)

In [37]:
sorted_results

[('DRKH', [372234894.4442741, 407140602.9708012]),
 ('DCJV', [165143.7177808596, 751785.4623931488]),
 ('MLJB-2', [135404.10795580896, 240251.52244025955]),
 ('BRAD', [133300.6967597492, 211528.4643191768]),
 ('ABTH', [104559.609076825, 172276.1071178834]),
 ('MKKE', [94962.90668767021, 157173.87059008857]),
 ('LCJDK ', [94015.93936392303, 153823.77306621845]),
 ('JJ', [93707.28717618504, 149641.0015099866]),
 ('ZCJP', [90891.89483545824, 148315.75324703928]),
 ('CUDM', [79970.88597034349, 126345.1523603406])]

In [38]:


print('Now printing the results with in ascending order')

for k,v in sorted_results:
    print(v[1])
    print('{} achieved an RMSE of {} \n'.format(
          k.upper(), v[1]))

    time.sleep(2)

Now printing the results with in ascending order
407140602.9708012
DRKH achieved an RMSE of 407140602.9708012

751785.4623931488
DCJV achieved an RMSE of 751785.4623931488

240251.52244025955
MLJB-2 achieved an RMSE of 240251.52244025955

211528.4643191768
BRAD achieved an RMSE of 211528.4643191768

172276.1071178834
ABTH achieved an RMSE of 172276.1071178834

157173.87059008857
MKKE achieved an RMSE of 157173.87059008857

153823.77306621845
LCJDK  achieved an RMSE of 153823.77306621845

149641.0015099866
JJ achieved an RMSE of 149641.0015099866

148315.75324703928
ZCJP achieved an RMSE of 148315.75324703928

126345.1523603406
CUDM achieved an RMSE of 126345.1523603406

In [39]:

print('Now printing the results with in ascending order')

for k,v in sorted_results:
    print(v[1])
    print('{} achieved an MAE of {} \n'.format(
          k.upper(), v[0]))

    time.sleep(.1)

Now printing the results with in ascending order
407140602.9708012
DRKH achieved an MAE of 372234894.4442741

751785.4623931488
DCJV achieved an MAE of 165143.7177808596

240251.52244025955
MLJB-2 achieved an MAE of 135404.10795580896

211528.4643191768
BRAD achieved an MAE of 133300.6967597492

172276.1071178834
ABTH achieved an MAE of 104559.609076825

157173.87059008857
MKKE achieved an MAE of 94962.90668767021

153823.77306621845
LCJDK  achieved an MAE of 94015.93936392303

149641.0015099866
JJ achieved an MAE of 93707.28717618504

148315.75324703928
ZCJP achieved an MAE of 90891.89483545824

126345.1523603406
CUDM achieved an MAE of 79970.88597034349